.user {
  height: 480px;
  width: 380px;
}

.user_info {
  margin: 10px;
  margin-left: 30%;
  margin-top: 20px;
  overflow: hidden;
}

.user__image {
  height: 80px;
  width: 80px;
  margin: auto;
  border-radius: 100%;
  background-color: rgb(51, 255, 0);
}

.user__name {
  text-align: center;
  font-weight: bold;
  color: rgb(104, 104, 104);
  height: 30px;
  text-align: center;
  padding: 10px;
}

.user__info_text {
  border-top: grey solid 1px;
  margin: 0 30px;
  padding-top: 10px;
}

.space {
  height: 20px;
}
