.login {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 10% auto;
  width: 320px;
  height: 210px;
  background-color: rgb(235, 235, 235);
}

.login__failed {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 10% auto;
  width: 320px;
  height: 210px;
  background-color: rgb(235, 235, 235);
}

.login__mail_input {
  height: 25px;
  margin: auto;
  margin-top: 40px;
  width: 100%;
}

.login__password_input {
  height: 25px;
  width: 100%;
  margin: auto;
}

.login__submit_button {
  height: 25px;
  margin: auto;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: rgb(63, 40, 189)
}
