.scrollbar__hide {
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}
.scrollbar__hide::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}
