.MenuBar {
  display: flex;
  flex-flow: row;
  margin: 0;
  padding: 5px;
  background-color: rgb(194, 194, 194);
  justify-content: space-around;
}

.Search {
  display: flex;
  flex-flow: row;
  margin: auto 0;
  width: 40%;
  padding: 10px;
}

.Logo {
  margin: auto 0;
  margin-right: 100px;
}

.Account {
  display: flex;
  flex-flow: row;
  margin: auto 0;
}

.MenuBar__titleText {
  padding: 10px;
  font-size: x-large;
  font-weight: bold;
  text-decoration: none;
  text-decoration-color: none;
  color: black;
}

.MenuBar__signUp {
  text-decoration: none;
  border: none;
  margin: auto 0;
  margin-left: 30px;
}

.MenuBar__logout {
  text-decoration: none;
  border: none;
  margin: auto 0;
  margin-left: 30px;
}
