.MenuBar {
  display: grid;
  grid-template-columns: 4fr 3fr 1fr 1fr 1fr;
  height: 50px;
  background-color: rgb(144, 144, 255);
}

.MenuBar__input {
  margin: auto 0;
  height: 25px;
  border-radius: 8px;
  border: none;
}

.MenuBar__search_button {
  height: 25px;
  width: 60px;
  margin: auto 0;
  margin-left: 10px;
  color: white;
  background-color: rgb(63, 40, 189);
  border-radius: 5px;
  border-color: rgb(212, 212, 212);
  border-style: solid;
}

.MenuBar__search_button:hover {
  height: 25px;
  width: 60px;
  margin: auto 0;
  margin-left: 10px;
  color: white;
  background-color: rgb(130, 110, 220);
  border-radius: 5px;
  border-color: rgb(212, 212, 212);
  border-style: solid;
}

.MenuBar__titleText {
  margin: auto auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bold;
  text-decoration: none;
  text-decoration-color: none;
  color: black;
}

.MenuBar__loginButton {
  margin: auto;
  padding: 5px 5px;
  height: 25px;
  background-color: rgb(63, 40, 189);
  text-decoration: none;
  color: white;
  border-radius: 5px;
  border-color: rgb(212, 212, 212);
  border-style: solid;
}

.MenuBar__myPageButton {
  margin: auto;
  padding: 5px 5px;
  height: 25px;
  background-color: rgb(63, 40, 189);
  text-decoration: none;
  color: white;
  border-radius: 5px;
  border-color: rgb(212, 212, 212);
  border-style: solid;
}

.MenuBar__loginButton:hover {
  margin: auto;
  padding: 5px 5px;
  height: 25px;
  text-decoration: none;
  color: white;
  background-color: rgb(130, 110, 220);
  border-radius: 5px;
  border-color: rgb(212, 212, 212);
  border-style: solid;
}

.MenuBar__myPageButton:hover {
  margin: auto;
  padding: 5px 5px;
  height: 25px;
  text-decoration: none;
  color: white;
  background-color: rgb(130, 110, 220);
  border-radius: 5px;
  border-color: rgb(212, 212, 212);
  border-style: solid;
}

.MenuBar__signUp {
  margin: auto;
  text-decoration: none;
  height: 25px;
  border-radius: 5px;
  border: none;
}

.MenuBar__logout {
  margin: auto;
  text-decoration: none;
  height: 25px;
  border-radius: 5px;
  border: none;
}
