.contents {
  display: grid;
  flex-flow: column;
  grid-template-rows: 3fr 50px 1fr 8fr;
  margin: 10px;
  margin-left: 20px;
  margin-right: 30%;
  margin-top: 20px;
  height: 700px;
}

.contents__info {
  background-color: white;
  margin: 10px;
  padding: 20px;
}

.contents__post_button {
  width: 100px;
  height: 26px;
  margin: auto;
  color: white;
  background-color: rgb(143, 143, 143);
  border-radius: 5px;
  border-color: rgb(212, 212, 212);
  border-style: solid;
}

.contents__post_button:hover {
  background-color: rgb(199, 199, 199);
}

.contents__posts_list {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.contents__posts_list_title {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  height: 40px;
  padding-left: 30px;
  padding-top: 10px;
  color: rgb(94, 94, 94);
  font-weight: bold;
  font-size: x-large;
}

.posts_list_item {
  padding: 0 30px;
  padding-bottom: 10px;
  border-bottom: solid 1px rgb(189, 189, 189);
  text-decoration: none;
  margin-bottom: 10px;
}

.posts_list_item__date {
  font-size: small;
  color: rgb(126, 126, 126);
  margin: 10px 0;
  padding: 0;
}

.posts_list_item__title {
  color: rgb(83, 83, 83);
  font-size: larger;
  font-weight: bold;
  margin: 10px 0;
  padding: 0;
}
