.button {
  margin-left: 0px;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.base {
  margin: 0;
  padding: 0;
}

.text_align_center {
  text-align: center;
}
